html{
    height: 100vh;
    width: 100%;
    overflow: scroll;

}










* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    background-color: #050e1e;
}




#background {
    background-image: url("./img/Wallpaper2.jpg");
    height: 100%;
    width: 100%;
    
    position: fixed;
}

#header {
    
    background-color:  #050e1e;
    padding: 3%;
    position: relative;
    z-index: 2;
    
}

ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: large;
    margin-right: 5% ;

    
}
h1 {
    display: inline;
    position: relative;
    font-size: 20px;
  }
h1::after {
    content: '';
    position: absolute;
    left: 0%;   display: inline;
    height: 1em;
    width: 160%;
    border-bottom: 3px solid;
    margin-top: 5px;
  }


li {
    display:inline;
    position: relative;
    

}
section {
    color: red;
}

#img-text {
    margin-top: 20%;
    margin-left: 40%;
}



.container {
   border: 5px solid limegreen;
   width: min(100% - 2rem, 600px);
   margin-inline: auto;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 5%;
    width: 22,5%;
    margin-top:5%;
    margin-left: auto;

  }
  
  .right-half {
    background-color: #b6701e;
    color:  white;
    position: absolute;
    right: 25%;
    top: 25%;
    width: 45%;
    text-align: center; 
  }


#stoer{
    width: 300px;
    height: 400px;
    position: fixed;
}


  
  #slider {
    position: relative;
    width: 1000px;
    height: 530px;
    margin-top: 25%;
    margin-left: 30%;
   
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
   
    float: left;
  }
  #slider ul li img{
    width: 1000px;
    height: 530px;
  }
   
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }